@{
    ViewBag.Title = "Contact";
}
<div class="text-top">
<div class="text-user">
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Batfamília comunicações<br />
    Davisão, WA 977812109<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">luis.santana23@etec.sp.gov.br</a><br />

</address>
</div>
</div>


<div class="card">
    <img class="logue" src="~/img/logue.png" width="400px" height="300px" alt="Card image cap"/>
  </div>