@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"style="font-weight: bold;">THE BATMAN</h1>
    <p>DC COMICS AND WARNER BROS</a>.</p>
</div>
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title" style="font-weight: bold;"> BATMAN</h5>
    <p class="card-text">O Batman, criando no ano de 1939, teve sua primeira aparição na revista detective comics<br>e com o passar dos anos se tornou o homem morcego que tanto amamos e conhecemos em cima dos telhados de gotham.</p>
    <img src="~/img/b.png" class="batmani" width="1080px" height="650px"/>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="~/img/nightwing.jpg" width="400px" height="300px"alt="Card image cap">
    <div class= "card-body">
      <h5 class="card-title">Asa Noturna</h5>
      <p class="card-text">Parceiro do Batman e antigo Robin Dick Grayson</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="~/img/damiano.jpg" width="400px" height="300px" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Robin</h5>
      <p class="card-text">Várias pessoas assumiram seu manto, atualmente sendo ocupado por Damian Wayne</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="~/img/alfredo.jpg" width="400px" height="300px" alt="Card image cap"/>
    <div class="card-body">
      <h5 class="card-title">Alfred</h5>
      <p class="card-text">Mordomo e principal ajudante da familia Wayne.</p>
    </div>
  </div>

</div>