@{
    ViewBag.Title = "Definição do Batman";
}
<div class="text-top">
<div class="text-user">
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
Batman: Bandido? Pobre? No meio da noite? Pode deixar que eu espanco.<br />
</address>

</div>
</div>


<div class="card">
    <img class="logue" src="~/img/logue.png" width="400px" height="300px" alt="Card image cap"/>
  </div>